.character-full-portrait {
  height: 70vh;
  width: 50vw;
}

p {
  color: white;
}

.character-details {
  border: solid 5px white
}

.line {
  width: 100%;
  height: 3px;  
  background-color: #FF4654;;
  margin: 0 20px;
}

.add-to-team-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-right: 7px;
  border: 1px solid #0071a7;
  background: #000;
  height: 50px;
  width: 177px;
  color: #ff4654;
  font-family: Black Ops One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}