.character-details {
  display: flex;
  flex-direction: row;
  border-radius: 35px;
  border: solid 3px #0071a7;
  margin: 20px;
  background: linear-gradient(
    45deg,
    rgba(77, 77, 143, 0.8),
    rgba(7, 7, 7, 0.8),
    rgba(87, 85, 85, 0.8)
  );
}

.character-full-portrait {
  height: 600px;
  width: 550px;
  animation: slideDown 1s ease-out forwards;
}
p {
  color: white;
}

.team-confirmation-message {
  display: flex;
  text-align: center;
  color: #9acfe8;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: Black Ops One;
}

.team-error-message {
  display: flex;
  text-align: center;
  color: #eca6ac;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: Black Ops One;
}

.single-character-role-description,
.single-character-description {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 20px;
}

.ability-name {
  font: Helvetica, sans-serif;
  color: #099add;
  font-size: 20px;
}

.single-character-name,
.single-character-role,
.abilities-name {
  color: #ff4654;
  font-family: Black Ops One;
  text-shadow: #0071a7;
  font-size: 25px;
}
.character-full-portrait-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.ability-details {
  display: flex;
  margin-right: 20px;
}

.ability-description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.ability-icon {
  width: 80px;
  height: 80px;
  border: solid 3px #0071a7;
  border-radius: 45px;
}

.ability-icon:hover {
  animation: spin 2s linear infinite;
}

.ability-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.add-to-team-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-right: 7px;
  margin-bottom: 30px;
  padding: 20px;
  border: 3px solid #0071a7;
  border-radius: 35px;
  background: #000;
  height: 50px;
  width: 177px;
  color: #ff4654;
  font-family: Black Ops One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes smokeEffect {
  0%,
  100% {
    filter: blur(0px);
    opacity: 0;
  }
  50% {
    filter: blur(4px);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Start from above the screen */
    opacity: 0; /* Start with the character invisible */
  }
  to {
    transform: translateY(0); /* End at the current position */
    opacity: 1; /* End with the character fully visible */
  }
}

@media (min-width: 375px) {
  .character-details {
    flex-direction: column;
    background: linear-gradient(
      45deg,
      rgba(77, 77, 143, 0.8),
      rgba(7, 7, 7, 0.8),
      rgba(124, 68, 68, 0.8)
    );
  }

  .character-full-portrait {
    height: 350px;
    width: 325px;
    animation: slideDown 1s ease-out forwards;
  }

  .character-full-portrait-container {
    margin-top: 15px;
  }

  .single-character-description,
  .single-character-role-description {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .ability-details {
    display: grid;
  }
}

@media (min-width: 1440px) {
  .ability-details {
    display: flex;
  }
}

@media (min-width: 2560px) {
  .character-details {
    flex-direction: row;
  }

  .character-full-portrait {
    height: 1100px;
    width: 1000px;
    animation: slideDown 1s ease-out forwards;
  }

  .character-info-container {
    justify-content: center;
  }

  .single-character-role-description,
.single-character-description, .single-character-name,
.single-character-role,
.abilities-name, .ability-name, .ability-description {
  font-size: 30px;
}

.ability-icon {
  width: 200px;
  height: 200px;
  border: solid 5px #0071a7;
  border-radius: 100px;
}
}
 
