.card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  width: 400px;
  height: 180px;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #0071a7;
  background: linear-gradient(
    45deg,
    rgba(87, 85, 85, 0.5),
    rgba(7, 7, 7, 0.5),
    rgba(87, 85, 85, 0.5)
  );
  margin: 25px;

  text-decoration: none;
}
.no-underline {
  text-decoration: none;
}

.character-icon-image {
  height: 210px;
  border-radius: 45px;
}

.character-name {
  color: #ff4654;
  text-align: center;
  font-family: "Black Ops One", cursive;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.character-role {
  color: #e9eff6;
  text-align: center;
  font-family: Black Ops One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 375px) {
  .card{
  width: 350px;
  height: 145px;
  padding: 10px;
  }
  
  .character-icon-image {
    height: 165px;
    border-radius: 45px;
  }
}