@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  width: 400px;
  height: 180px;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #0071a7;
  background: linear-gradient(
    45deg,
    rgba(111, 45, 45, 0.5),
    rgba(42, 40, 40, 0.5),
    rgba(38, 38, 147, 0.5)
  );
  margin: 25px;
  text-decoration: none;
  box-shadow: 0 0 15px 5px rgba(208, 200, 200, 0.6);
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.card:hover {
  border: solid 3px #ff4654;
}

.card-button:hover {
  transform: scale(0.95);
}

.no-underline {
  text-decoration: none;
}

.character-icon-image {
  height: 210px;
  border-radius: 45px;
}

.character-name {
  color: #ff4654;
  text-align: center;
  font-family: "Black Ops One", cursive;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.character-role {
  color: #e9eff6;
  text-align: center;
  font-family: Black Ops One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
}

@media (min-width: 375px) {
  .card {
    width: 350px;
    height: 145px;
    padding: 10px;
  }

  .character-icon-image {
    height: 165px;
    border-radius: 45px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 650px;
    height: 205px;
    padding: 10px;
  }

  .character-icon-image {
    height: 240px;
    border-radius: 45px;
  }

  .character-name,
  .character-role {
    font-size: 35px;
  }
}
